<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doctorcar.mobile" >

    <application
        android:name=".app.CarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".module.main.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.login.activity.LoginActivity"/>
        <activity android:name=".module.mine.activity.ViewActivity"/>
        <activity android:name=".module.ask.activity.BrandAndModelActivity"/>
        <activity android:name=".module.ask.activity.AskActivity"/>
        <activity android:name=".module.ask.activity.AnswerActivity"/>
        <activity android:name=".module.ask.activity.AnswerCommentActivity"/>
        <activity android:name=".module.ask.activity.SubmitAnswerActivity"/>
        <activity android:name=".module.ask.activity.SearchMyAnswerActivity"/>
        <activity android:name=".module.ask.activity.InvitedAnswerActivity"/>
        <activity android:name=".module.common.activity.PhotosActivity"/>
        <activity android:name=".module.register.activity.RegisterActivity"/>
        <activity android:name=".module.blog.activity.WriteBlogActivity"/>
        <activity android:name=".module.blog.activity.PreviewBlogActivity"/>
        <activity android:name=".module.blog.activity.SearchBlogActivity"/>
        <activity android:name=".module.blog.activity.BrowseBlogActivity"/>
        <activity android:name=".module.mine.activity.FeedbackActivity"/>
        <activity android:name=".module.mine.activity.AboutUsActivity"/>
        <activity android:name=".module.mine.activity.SettingActivity"/>
        <activity android:name=".module.mine.activity.PersonalMessageActivity"/>

        <meta-data android:value="YOUR_APP_KEY" android:name="59223ed36e27a43bf70005dd"/>
        <meta-data android:value="Channel ID" android:name="360"/>
    </application>

</manifest>